@import "tailwindcss";
    
@theme {
    --breakpoint-phone: 305px;
    --breakpoint-tablet: 601px;
    --breakpoint-laptop: 900px;
    --breakpoint-pc: 1280px;
}


/*
 TEMPLATE FOR ADDING FONTS 
 .font-name {
    font-family: "font-family", sans-serif;
}
*/

.poppins {
    font-family: "Poppins", sans-serif;
}

.inter {
    font-family: "Inter", sans-serif;
}

.bebas {
    font-family: "Bebas Neue", sans-serif;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
}